#posOverlay {
	background-image: url(../images/backgrounds/white_ice.png);
	background-color: rgba(255,255,255,0.75);
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	height:734px;
	overflow: visible;
	position: relative;
	
}#companyName{
	color: #9C8F5F;
	text-align: right;
	padding: .5em;
	margin-left: 5px;
	
}#posFooter{
	position: absolute;
	margin-top: 1em;
	width:1084px;
	clear: both;
	
}
#addBarContainer {
	position:absolute;
	display:inline;
	top:1.5em;
	left:50px;
	margin-bottom: 2em;
	
}#searchBarContainer {
	position:absolute;
	display:inline;
	top:1.5em;
	left:320px;
	margin-bottom: 2em;
	
}#searchBar{
	width:350px;
	
}#addBar{
	width:200px;
	
}#posScreenContainer{
	margin-left:50px;
	float:left;
	height:auto;
	
}
#purchaseScreen{
	background-color: rgba(255,255,255,1);
	position: absolute;
	width: 650px;
	height:605px;
	bottom:35px;
}#purchaseScreen #returnBannerPurchase{
	position: absolute;
    left:0;
	bottom: 42px; 
}#purchaseScreen #paymentBannerPurchase{
	position: absolute;
	bottom: 0; 
    left:0;
}

#returnScreen{
	background-color: rgba(255,255,255,1);
	position: absolute;
	width: 650px;
	height:605px;
	bottom:35px;
}#returnScreen #returnBannerReturn{
    position: absolute;
    top:42px;
    left:0;
}#returnScreen #paymentBannerReturn{
	position: absolute;
	bottom: 0; 
    left:0;
}

#paymentScreen{
	background-color: rgba(255,255,255,1);
	position: absolute;
	width: 650px;
	height:605px;
	bottom:35px;
}#paymentScreen #returnBannerPayment{
	margin-top:-3px; 
}#paymentScreen #paymentBannerPayment{
	margin-top:-2px; 
}

.posBanners   {
	width: 650px;
   position:relative;
}
#posAside{
	width:300px;
	background-color: rgba(255,255,255,1);
}
#posLoginBanner{
	background-image: url(../images/banners/logoBanner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	width: 300px;
	height:200px;
	top:90px;
	right:50px;
	
}
#posTotals{
	background-color: rgba(255,255,255,1);
	position: absolute;
	width: 300px;
	height:300px;
	right:50px;
	bottom:140px;
	
}
#checkoutButton{
	position:absolute;
	bottom: 35px;
	right:38px;
}
#headerContainer{
	float:right;
	width:300px;
	margin-right: -40px;
}
a{display: inline-block;}

.paymentButtons{
	width:175px;
	padding-bottom: 25px;
}
#paymentMethodContainer{
	position: absolute;
	top:200px;
	left:25px;
	width:175px;
	height:auto;
}
p{
    display:inline-block;
}
.totalText{
    color:#29456D;
    margin-left:20px;
    font-weight:bolder;
}
.totalValue{
    float:right;
    margin-right:20px;
}
.redText{
    color:red
}

.blueText{
    color:#29456D;
}

h2{
    color:white;
    text-align:center;
}
#clockContainer{
    padding-top:75px;
    width: 308px;
    height: 280px;
}

#searchResults{
    position:absolute;
    margin-top:-5px;
    background-color: rgba(255,255,255,0.75);
    width:560px;
    height:auto;
    max-height:700px;
    overflow:auto;
    z-index:1;

}

#paymentInputContainer{
	position: absolute;
	top:200px;
	left:425px;
	width:175px;
	height:auto;
    margin:auto;
}