html{
	background-color:#102C54;
	background-repeat: no-repeat;
	background-image: url(../images/backgrounds/background.jpg);
	background-size:auto;
	background-position: center 0%;
}
body {
	position: relative;
	margin: auto;
	width:auto;
	max-width: 1920px;
	height: auto;

}
.headerButtons   {
	height: 65px;
	width: 65px;
	margin-top: 1em;
	margin-right:7px;
	float: right;
	opacity: .85;
	clear:both;
}
 :hover.headerButtons {opacity:1;}


#loginOverlay {
	background-image: url(../images/backgrounds/login_ice.png);
	background-position: center top;
	margin: auto;
	width: 300px;
	height: auto;
	text-align: center;
	overflow: visible;
	position:relative;
}

#loginOverlay #loginLogo {
	margin-top: 5em;
	margin-bottom: 25%;
	margin-left: auto;
	margin-right:auto;
	height: 200px;
	width: 200px;

}
#loginOverlay #index_loginForm {
	margin-bottom: 60%;
	background-color: rgba(255,255,255,0.75);
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 250px;
}
.loginBanner {
	max-width: 100%;
	height: auto;
	margin-bottom: 1em;
}
.roundIcons  {
	width: 30px;
	height: 30px;
	margin: 3px;
	position: relative;
	vertical-align: middle;
}
.textBoxes  {
	height: 1.5em;
	position: relative;
	margin: 5px;
	width: 10em;
}
.formButtons   {
	height: 3em;
	width: 8em;
	margin: 5px;
	opacity:.85;
}
:hover.formButtons {opacity: 1;}

footer  {
	background-color: rgba(0,0,0,0.70);
	position:relative;
	background-position: center bottom;
	width:auto;
	height: auto;
	bottom: 0px;
	padding:.5em;

}
#hotKeyRef{
	color: #FFFFFF;
	text-align: left;
	display:inline;
	
}
#companyName{
	color: #9C8F5F;
	text-align: right;
	display:inline;
	
}
.largeButtons {
	height: auto;
	width: 300px;
	margin:5px;
    opacity:.85;
}
#headerContainer{
	float:right;
	margin-right:50px;
	width:300px;
}
:hover.largeButtons{opacity:1;}

#searchIcon{opacity:.85}
#searchIcon:hover{opacity:1;}
