#homeOverlay {
	background-image: url(../images/backgrounds/home_ice.png);
	height: auto;
	margin-right: auto;
	margin-left: auto;
	width: 1100px;
	overflow: visible;
	position: relative;
}
#homeCircle {
    background-image: url(../images/logos/logo_Big.png);
    background-size: 475px 475px;
    background-repeat:no-repeat;
    position:relative;
	float: left;
	width: 475px;
	height: 475px;
    margin:4em;

}
#companyName{
	color: #9C8F5F;
	text-align: right;
	padding: .5em;
	margin-left: 8em;
	
	
}#home_footer {
	margin-top: 1em;
	clear: both;
}
#homeLoginCircle{
    background-image: url(../images/logos/logo_loginBig.png);
    background-size: 475px 475px;
    background-repeat:no-repeat;
	position:relative;
    text-align: center;
	float:left; 
	margin: 4em;
	width: 475px;
	height: 475px;
}
#homeLoginForm{
	position: absolute;
	width: 200px;
	bottom: 50px;
	left: 0px;
	right: 10px;
	margin-right: auto;
	margin-left: auto;

}
#searchBarContainer {
	position:absolute;
	display:inline;
	top:1.5em;
	left:120px;
}
#searchBar{
	width:350px;
}