#homeOverlay {
	background-image: url(../images/backgrounds/home_ice.png);
	height: auto;
	margin-right: auto;
	margin-left: auto;
	width: 1100px;
	overflow: visible;
	position: relative;

}
#homeCircle {
    background-image: url(../images/logos/logo_Big.png);
    background-size: 475px 475px;
    background-repeat:no-repeat;
    position:relative;
	float: left;
	width: 475px;
	height: 475px;
    margin: 5.5em 4em 4em 4em;

}
#homefooter {
    padding:.5em;
    margin-top: 1em;
	clear: both;
}
#companyName{
	text-align: left;
	margin-left: 825px;
}
#homeLoginCircle{
    background-image: url(../images/logos/logo_loginBig.png);
    background-size: 475px 475px;
    background-repeat:no-repeat;
	position:relative;
    text-align: center;
	float:left; 
	margin: 5.5em 4em 4em 4em;
	width: 475px;
	height: 475px;
}
#homeLoginForm{
	position: absolute;
	width: 200px;
	bottom: 50px;
	left: 0px;
	right: 10px;
	margin-right: auto;
	margin-left: auto;

}
#searchBarContainer {
	position:absolute;
	display:inline;
	top:1.5em;
	left:120px;
}
#searchBar{
	width:350px;
}
#homeNavigation{
	position:absolute;
	height: 400px;
	right: 50px;
	top:100px
}
a{
	display: inline-block;
}
#searchResults{
    position:absolute;
    margin-top:-5px;
    background-color: rgba(255,255,255,0.75);
    width:560px;
    height:auto;
    max-height:700px;
    overflow:auto;
    z-index:1;

}
#closePosContainer{
	background-color: rgba(126,129,126,.85);
	box-shadow: -2px 8px 5px 1px rgba(98,100,103,1);
    position:relative;
	border-radius: 15px;
	padding-top: 20px;
	float:left; 
	margin: 5.5em 4em 4em 4em;
	width: 550px;
	height: 450px;

}
#closePosForm{
    width:350px;
    margin:auto;
    margin-top:50px;
}
.formLabel{
    width:150px;
    display:inline-block;
}
#submitClose{
    margin-left:0px;
    
}
